@model Vidly.ViewModels.MovieDetailsViewModel

<h2>@Model.Name</h2>

<p>Genre: @Model.GenreName</p>
<p>Release Date: @Model.ReleaseDate</p>
<p>Date Added: @Model.DateAdded</p>
<p>Number in Stock: @Model.InStock</p>